<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-location-monitor" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		LocationMonitorPlugin
	</name>
	<js-module name="LocationMonitorPlugin" src="www/LocationMonitorPlugin.js">
		<clobbers target="LocationMonitorPlugin" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="LocationMonitorPlugin">
				<param name="ios-package" value="LocationMonitorPlugin" />
                <param name="onload" value="true" />
			</feature>
		</config-file>
        <header-file src="src/ios/LocationMonitorPlugin.h" />
		<source-file src="src/ios/LocationMonitorPlugin.m" />
	</platform>
</plugin>
